<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopexpress1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/p"
        android:label="@string/app_name"
        android:roundIcon="@drawable/p"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.shopexpress1.PostActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shopexpress1.DashboardActivity" />
        </activity>
        <activity android:name="com.example.shopexpress1.CartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shopexpress1.DashboardActivity" />
        </activity>
        <activity android:name="com.example.shopexpress1.ProductActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shopexpress1.DashboardActivity" />
        </activity>
        <activity
            android:name="com.example.shopexpress1.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.shopexpress1.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.shopexpress1.DetailActivity"
            android:label="Details"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shopexpress1.DashboardActivity" />
        </activity>
        <activity
            android:name="com.example.shopexpress1.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.shopexpress1.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>